fastapi
fastapi-cli
python-dotenv
uvicorn
pydantic
pymongo
motor
certifi
httpx
mongomock
pytest
pytest-asyncio
pydantic
openai
python-jose[cryptography]
passlib[bcrypt]
python-multipart
websockets
# NLP + Embeddings
sentence-transformers>=2.5.1
transformers>=4.33.0
scikit-learn
numpy>=1.21.0,<2.0  
huggingface_hub>=0.26.0,<1.0
# Vector Store
faiss-cpu==1.7.4